---
import './collections.css';
---

<section class="collections">
  <div class="container">
    <h2 class="title">Explore our Collections</h2>
    <ul class="collections__row">
      <li class="collections__item">
        <img class="collections__item-img" src="./images/tea-black.webp" alt="Tea Black" width="208" height="208" loading="lazy">
        <a class="collections__link link" href="#">
          <h3 class="collections__item-title">Black</h3>
        </a>
      </li>
      <li class="collections__item">
        <img class="collections__item-img" src="./images/tea-green.webp" alt="Tea green" width="208" height="208" loading="lazy">
        <a class="collections__link link" href="#">
          <h3 class="collections__item-title">Green</h3>
        </a>
      </li>
      <li class="collections__item">
        <img class="collections__item-img" src="./images/tea-white.webp" alt="Tea white" width="208" height="208" loading="lazy">
        <a class="collections__link link" href="#">
          <h3 class="collections__item-title">White</h3>
        </a>
      </li>
      <li class="collections__item">
        <img class="collections__item-img" src="./images/tea-oolong.webp" alt="Tea oolong" width="208" height="208" loading="lazy">
        <a class="collections__link link" href="#">
          <h3 class="collections__item-title">Oolong</h3>
        </a>
      </li>
      <li class="collections__item">
        <img class="collections__item-img" src="./images/tea-pu-erh.webp" alt="Tea pu-erh" width="208" height="208" loading="lazy">
        <a class="collections__link link" href="#">
          <h3 class="collections__item-title">Pu-erh</h3>
        </a>
      </li>
    </ul>
  </div>
</section>