---
import './prioritise.css'
---

<section class="prioritise">
  <div class="container">
    <h2 class="title">We Prioritise</h2>
    <ul class="prioritise__list">
      <li class="prioritise__item prioritise__item-1 mask">
        <h3 class="prioritise__item-title">
          Single garden teas
        </h3>
        <div class="prioritise__item-descr">
          <p>
            Complete transparency
          </p>
        </div>
      </li>
      <li class="prioritise__item prioritise__item-2 mask">
        <h3 class="prioritise__item-title">
          Only Loose leaf tea
        </h3>
        <div class="prioritise__item-descr">
          <p>
            Best Drinking Experience
          </p>
        </div>
      </li>
      <li class="prioritise__item prioritise__item-3 mask">
        <h3 class="prioritise__item-title">
          Customer support
        </h3>
        <div class="prioritise__item-descr">
          <p>
            No bots, no automated replies
          </p>
        </div>
      </li>
      <li class="prioritise__item prioritise__item-4 mask">
        <h3 class="prioritise__item-title">
          Fast shipping
        </h3>
        <div class="prioritise__item-descr">
          <p>
            Save, Convenient, Reliable
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>