---
import './../style.css';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Main/Hero/Hero.astro';
import Blockquote from '../components/Main/Blockquote/Blockquote.astro';
import Collections from '../components/Main/Collections/Collections.astro';
import Reviews from '../components/Main/Reviews/Reviews.astro';
import Blog from '../components/Main/Blog/Blog.astro';
import EmailBlock from '../components/Main/EmailBlock/EmailBlock.astro';
import Prioritise from '../components/Main/Prioritise/Prioritise.astro';
---

<Layout>
	<main class="main">
		<Hero />
		<Blockquote />
		<Collections />
		<Reviews />
		<Blog />
		<EmailBlock />
		<Prioritise />
	</main>
</Layout>
