---
import './blog.css';
---

<section class="blog">
  <div class="blog__container container">
    <h2 class="title">Our Tea Blog</h2>
    <ul class="blog__list">
      <li class="blog__item">
        <img class="blog__img" src="./images/blog-1.webp" alt="blog image" width="270" height="180" loading="lazy">
        <div class="blog__item-content">
          <a href="#">
            <h3 class="blog__item-title">
              Tea Time Travels: Funny Moments from Around the World
            </h3> 
          </a>
          <a class="blog__item-author link" href="#">
            by Robinson Crusoe
          </a>
          <a class="blog__item-link link" href="#">Read</a>
        </div>
      </li> 
      <li class="blog__item">
        <img class="blog__img" src="./images/blog-2.webp" alt="blog image" width="270" height="180" loading="lazy">
        <div class="blog__item-content">
          <a href="#">
            <h3 class="blog__item-title">
              The Role of Tea in Mental Health
            </h3> 
          </a>
          <a class="blog__item-author link" href="#">by Joker</a>
          <a class="blog__item-link link" href="#">Read</a>
        </div>
      </li> 
      <li class="blog__item">
        <img class="blog__img" src="./images/blog-3.webp" alt="blog image" width="270" height="180" loading="lazy">
        <div class="blog__item-content">
          <a href="#">
            <h3 class="blog__item-title">
              Tea-rific Tales: Hilarious Stories from Tea Lovers
            </h3> 
          </a>
          <a class="blog__item-author link" href="#">
            by Casper the Friendly Ghost
          </a>
          <a class="blog__item-link link" href="#">Read</a>
        </div>
      </li> 
      <li class="blog__item">
        <img class="blog__img" src="./images/blog-4.webp" alt="blog image" width="270" height="180" loading="lazy">
        <div class="blog__item-content">
          <a href="#">
            <h3 class="blog__item-title">
              Tea and Caffeine: Effects on the Brain and Behavior
            </h3> 
          </a>
          <a class="blog__item-author link" href="#">
            by Author Authorius
          </a>
          <a class="blog__item-link link" href="#">Read</a>
        </div>
      </li> 
    </ul>
    <a class="btn" href="#">View all</a>
  </div>
</section>