---
import './reviews.css'
---


<section class="reviews bg-color">
  <div class="container">
    <h2 class="title">What our Clients say</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <blockquote class="reviews__blockquote">
          <p>
            "As a tea enthusiast, I have tried teas from all over the world, but this tea store truly stands out. Their teas are of the highest quality and the variety is impressive. This is definitely a tea store that every tea lover should visit."
          </p>
          <span class="reviews__name">
            Alice
          </span>
        </blockquote>
      </li>
      <li class="reviews__item">
        <blockquote class="reviews__blockquote">
          <p>
            "This tea store is my go-to for all my tea needs. Their selection is unbeatable and the quality of their teas is exceptional."
          </p>
          <span class="reviews__name">
            Mad-Hatter
          </span>
        </blockquote>
      </li>
      <li class="reviews__item">
        <blockquote class="reviews__blockquote">
          <p>
            "If you're a tea lover, you must visit this tea store. The selection is vast and the quality is outstanding. I guarantee you won't be disappointed."
          </p>
          <span class="reviews__name">
            Dormouse
          </span>
        </blockquote>
      </li>
      <li class="reviews__item">
        <blockquote class="reviews__blockquote">
          <p>
            "I am not a big tea drinker, but this tea store has converted me. I highly recommend this tea store to anyone looking for a high-quality tea experience."
          </p>
          <span class="reviews__name">
            March Hare
          </span>
        </blockquote>
      </li>
    </ul>
  </div>
</section>