---
import './email-block.css';
---

<section class="email-block bg-color">
  <div class="container">
    <h2 class="email-block__title title">Want to know more?</h2>
    <div class="email-block__row">
      <div class="email-block__text">
        <p>
          Join our mailing list and stay up-to-date with the latest news, promotions, and exclusive offers from our tea store. Be the first to know about new tea arrivals, seasonal blends, and special discounts. Don't miss out on the tea-rrific perks - sign up today!
        </p>
      </div>
      <form class="email-block__form">
        <fieldset class="email-block__form-box">
          <input class="email-block__input" id="email" type="email" name="email" placeholder="name@email.com" required>
          <button class="btn" type="submit">Join</button>
        </fieldset>
        <label class="email-block__label">
          <input type="checkbox">
          <p class="email-block__form-text">
            We take your privacy seriously and are committed to protecting your personal information. By subscribing to our mailing list, you are consenting to receive periodic emails from us about our products, promotions, and other tea-related information.
          </p>
        </label>
      </form>
    </div>
  </div>
</section>