@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* Fonts */
  --font-family: "Open Sans", sans-serif;
  --second-family: "Cormorant", sans-serif;

  /* Colors */
  --c-white: #fff;
  --c-black: #151618;
  --c-black-hover: #b6b5b3;
  --c-bg: #f7f2ea;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--c-black);
  background-color: var(--c-white);
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* container */
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

/* link */
.link {
  transition: color .35s ease;
}
.link:hover {
  color: var(--c-black-hover);
}

.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}